.customButton {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    padding: .75em;
    cursor: pointer;

    i {
        position: absolute;
        top: 0.5em;
    }

    &.full {
        width: 100%;
    }

    &.left {
        float: left;
    }

    &.right {
        float: right;
    }
}