.customButton {
    display: inline-block;
    border-radius: 5px;
    padding: .75em;
    cursor: pointer;

    i {
        position: absolute;
        top: 1.21em;
    }

    span {
        padding-left: 2em;
    }
}