.row.max100,
.row .masonry,
.row .masonry .item {
    max-width: 100%;
}

.card {

    .card-content.row {
        margin: 0;
    }

    .user-name {
        // padding-top: 0.75em;
        padding-left: 0.75em;
        flex: auto;
    }

    .user-details {
        padding: 1em;
        display: flex;
        flex-direction: row;
    }

    .user-name {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .user-text {
        padding: 0 .5em;
        font-size: 1.5em;
    }

    hr {
        margin-top: .5em;
    }

    img {
        max-width: 100%;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        &.user {
            max-width: 75px;
            flex: 1;
            border-radius: 100%;
        }
    }
}



.masonry {
    /* Masonry container */
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 3;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    width: 100%;
    transition: 1s ease all;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    .card {
        margin-top: 0;
    }
}

.item img {
    max-width: 100%;
}


@media only screen and (max-width: 768px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 769px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}