.card {

    .card-content.row {
        margin: 0;
    }

    .user-name {
        // padding-top: 0.75em;
        padding-left: 0.75em;
        flex: auto;
    }

    .user-details {
        padding: 1em;
        display: flex;
        flex-direction: row;
    }

    .user-name {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .user-text {
        padding: 0 .5em;
    }

    hr {
        margin-top: .5em;
    }

    img {
        max-width: 100%;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        &.user {
            max-width: 75px;
            flex: 1;
        }
    }
}