<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Security-Policy" value="default-src 'none'; script-src 'self' 'unsafe-inline' 'report-sample' www.google-analytics.com assistantapps.github.io; style-src 'self' 'unsafe-inline' 'report-sample' fonts.googleapis.com/css nmscd.github.io raw.githubusercontent.com; img-src 'self' data: nmsassistant.com cdn.nmsassistant.com cdn.assistantapps.com static.wikia.nocookie.net i.imgur.com www.google-analytics.com cdn.discordapp.com; font-src 'self' fonts.gstatic.com nmscd.github.io raw.githubusercontent.com; manifest-src https://app.nmsassistant.com/manifest.json; connect-src app.nmsassistant.com api.nmsassistant.com api.assistantapps.com www.google-analytics.com; media-src 'self' stream.zenolive.com *.zeno.fm; base-uri 'self'; report-uri 'none'; form-action 'none'; frame-ancestors 'none'; upgrade-insecure-requests;" />
                <add name="X-Content-Security-Policy" value="default-src 'none'; script-src 'self' 'unsafe-inline' 'report-sample' www.google-analytics.com assistantapps.github.io; style-src 'self' 'unsafe-inline' 'report-sample' fonts.googleapis.com/css nmscd.github.io raw.githubusercontent.com; img-src 'self' data: nmsassistant.com cdn.nmsassistant.com cdn.assistantapps.com static.wikia.nocookie.net i.imgur.com www.google-analytics.com cdn.discordapp.com; font-src 'self' fonts.gstatic.com nmscd.github.io raw.githubusercontent.com; manifest-src https://app.nmsassistant.com/manifest.json; connect-src app.nmsassistant.com api.nmsassistant.com api.assistantapps.com www.google-analytics.com; media-src 'self' stream.zenolive.com *.zeno.fm; base-uri 'self'; report-uri 'none'; form-action 'none'; frame-ancestors 'none'; upgrade-insecure-requests;" />
                <add name="X-WebKit-CSP" value="default-src 'none'; script-src 'self' 'unsafe-inline' 'report-sample' www.google-analytics.com assistantapps.github.io; style-src 'self' 'unsafe-inline' 'report-sample' fonts.googleapis.com/css nmscd.github.io raw.githubusercontent.com; img-src 'self' data: nmsassistant.com cdn.nmsassistant.com cdn.assistantapps.com static.wikia.nocookie.net i.imgur.com www.google-analytics.com cdn.discordapp.com; font-src 'self' fonts.gstatic.com nmscd.github.io raw.githubusercontent.com; manifest-src https://app.nmsassistant.com/manifest.json; connect-src app.nmsassistant.com api.nmsassistant.com api.assistantapps.com www.google-analytics.com; media-src 'self' stream.zenolive.com *.zeno.fm; base-uri 'self'; report-uri 'none'; form-action 'none'; frame-ancestors 'none'; upgrade-insecure-requests;" />
                <add name="Set-Cookie" value="cross-site-cookie=name; SameSite=None; Secure" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="React Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="\.*(link).*$" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
            <remove fileExtension=".licence" />
            <mimeMap fileExtension=".licence" mimeType="text/plain" />
            <remove fileExtension=".license" />
            <mimeMap fileExtension=".license" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>