// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary: $indigo-500 !default;
$brand-primary-dark: $indigo-300 !default;
$brand-primary-background: #CFCFCF !default;
$brand-primary-background-dark: #303030 !default;
$brand-secondary: $teal-400 !default;
$brand-secondary-dark: $teal-200 !default;
//
$brand-info: $cyan-500 !default;
$brand-success: $green-500 !default;
$brand-warning: $orange-500 !default;
$brand-danger: $red-500 !default;
$brand-rose: $pink-500 !default;
$brand-inverse: $black-color !default;