.discussion {
    width: 100%;
    display: flex;
    flex-flow: column wrap;


    >.bubble {
        border-radius: 10px;
        padding: 0.75em;
        margin: 0.1em 0;
        max-width: 50%;
        font-size: 1.25em;

        &.sender {
            align-self: flex-start;
            background-color: cornflowerblue;
            color: #fff;
            border-bottom-left-radius: 0.1em;
            border-top-left-radius: 0.1em;
        }

        &.recipient {
            align-self: flex-end;
            background-color: #efefef;
            border-bottom-right-radius: 0.1em;
            border-top-right-radius: 0.1em;
        }

        &.option {
            align-self: center;
            background-color: black;
        }
    }
}