.bubble-tip {
    position: absolute;
    width: 0;
    height: 0;
    top: 0px;
    bottom: auto;
    border: 16px solid;
}

.discussion {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    padding-left: 2em;
    padding-right: 2em;

    >.bubble {
        border-radius: 10px;
        padding: 0.75em;
        margin: 0.1em 0;
        max-width: 50%;
        font-size: 1.25em;

        &.sender {
            position: relative;
            text-align: left;
            align-self: flex-start;
            color: #fff;

            &:before {
                @extend .bubble-tip;
                content: ' ';
                left: -14px;
            }
        }

        &.sender+.sender {
            &:before {
                content: unset;
            }
        }

        &.recipient {
            position: relative;
            align-self: flex-end;
            background-color: #efefef;

            &:before {
                @extend .bubble-tip;
                content: ' ';
                right: -14px;
            }
        }

        &.recipient+.recipient {
            &:before {
                content: unset;
            }
        }

        &.option {
            align-self: center;
            background-color: black;
        }
    }
}