.generic-item-list {
    .gen-item {
        margin-bottom: 5px;

        .gen-item-container {
            background-color: #6c757d;
            display: flex;
            padding-right: 100px;
            width: 100%;

            .image-container {
                max-height: 100px;
                max-width: 100px;
                display: inline-block;

                img {
                    max-height: 100px;
                }
            }

            .gen-item-content-container {
                flex-grow: 1;
                max-height: 100px;
                width: 100%;
                position: relative;

                .text-container {
                    font-size: 1.5em;
                    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                    text-align: left;
                    padding-top: .5em;
                    padding-left: 1rem;
                    padding-right: .5rem;
                    color: #f8f9fa;

                    p {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .text-container.full {
                    line-height: 100px;
                    padding-top: 0;
                }

                .quantity-container {
                    text-align: left;
                    padding-left: 1rem;
                    color: #f8f9fa;
                }
            }
        }
    }
}