.generic-item-list {
    // justify-content: center;

    .gen-item {
        margin-bottom: 5px;

        .gen-item-container {
            display: flex;
            padding-right: 100px;
            width: 100%;

            &.w-full {
                padding-right: 0;
            }

            &.h-full {
                height: 100%;
            }

            .image-container {
                max-height: 100px;
                max-width: 100px;
                display: inline-block;
                position: relative;

                &.lazy-loaded-full-width {
                    height: 100px;
                    min-width: 100px;

                    >span {
                        height: 100%;
                        width: 100%;
                        position: relative;

                        >img {
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                            margin: 0;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                        }
                    }
                }

                img {
                    max-height: 100px;
                }

                .badge-container {
                    position: absolute;
                    bottom: 0.1em;
                    right: -.5em;
                    border-radius: 25px;
                    padding: 0 .5em;

                    &.large {
                        padding: .15em .4em;
                    }

                    &.xlarge {
                        padding: .25em .2em;
                    }

                    &.xxlarge {
                        padding: 0 .5em;
                        border-radius: 25px;
                        bottom: 0;
                        right: 0;
                    }
                }
            }

            .gen-item-content-container {
                flex-grow: 1;
                max-height: 100px;
                min-width: 100%;
                position: relative;
                overflow: hidden;

                .text-container {
                    font-size: 1.5em;
                    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                    text-align: left;
                    padding-top: .5em;
                    padding-left: 1rem;
                    padding-right: .5rem;

                    &:not(.multiline) {
                        p {
                            line-height: 1.2em;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }

                .text-container.full {
                    padding-top: 0;

                    p {
                        line-height: 100px;
                    }
                }

                .quantity-container {
                    text-align: left;
                    padding-left: 1rem;
                    padding-right: 1rem;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .action-container {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;

                    .action-list {
                        height: 100%;

                        &.align-top ul {
                            flex-direction: column;
                        }

                        &.align-bottom ul {
                            flex-direction: column-reverse;
                        }
                    }

                    ul {
                        position: relative;
                        height: 100%;
                        padding: 0;
                        margin: 0;

                        display: flex;
                        align-items: center;

                        // padding-left: 0;
                        // padding-right: 1em;
                        // margin-top: 1rem;

                        >* {
                            // margin-top: .25em;
                            margin-right: .5em;
                            display: block;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}