$grid-gap: 7px;
$grip-col-min-max: minmax(50px, 200px);

.catalogue-container {
    padding-top: 1em;

    display: grid;
    grid-gap: $grid-gap $grid-gap;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 650px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 400px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .catalogue-item {
        border-radius: 10px;
        min-height: 100px;

        img.custom-icons {
            min-height: 75px;
        }
    }
}

.game-item-list > div > div > div {
    padding-top: 1em;
    padding-bottom: 3em;
    margin-bottom: 3em;

    display: grid;
    grid-gap: $grid-gap $grid-gap;
    grid-template-columns: repeat(16, minmax(100px, 200px));

    @media screen and (max-width: 3000px) {
        grid-template-columns: repeat(15, $grip-col-min-max);
    }

    @media screen and (max-width: 2800px) {
        grid-template-columns: repeat(14, $grip-col-min-max);
    }

    @media screen and (max-width: 2600px) {
        grid-template-columns: repeat(13, $grip-col-min-max);
    }

    @media screen and (max-width: 2400px) {
        grid-template-columns: repeat(12, $grip-col-min-max);
    }

    @media screen and (max-width: 2200px) {
        grid-template-columns: repeat(11, $grip-col-min-max);
    }

    @media screen and (max-width: 2000px) {
        grid-template-columns: repeat(10, $grip-col-min-max);
    }

    @media screen and (max-width: 1800px) {
        grid-template-columns: repeat(9, $grip-col-min-max);
    }

    @media screen and (max-width: 1600px) {
        grid-template-columns: repeat(8, $grip-col-min-max);
    }

    @media screen and (max-width: 1400px) {
        grid-template-columns: repeat(7, $grip-col-min-max);
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(6, $grip-col-min-max);
    }

    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(6, $grip-col-min-max);
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(5, $grip-col-min-max);
    }

    @media screen and (max-width: 700px) {
        grid-template-columns: repeat(4, $grip-col-min-max);
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(3, $grip-col-min-max);
    }

    @media screen and (max-width: 500px) {
        display: block;
    }

    .game-item {
        @media screen and (min-width: 500px) {
            min-height: 100px;
        }
    }
}

.game-item {
    position: relative;

    .item {
        position: relative;

        @media screen and (max-width: 500px) {
            display: flex;
            margin-bottom: 5px;
        }

        .image-container {
            width: calc(100% - 10px);
            height: 0;
            padding-bottom: calc(100% - 10px);
            margin: 5px;

            @media screen and (max-width: 500px) {
                max-width: 128px;
                max-height: 128px;
                width: 10%;
                height: 10%;
                padding: 0;
                flex-grow: 1;
                order: 1;
            }

            > span {
                width: 100%;
            }
        }

        img {
            width: 100%;
            max-height: 100%;
            // min-height: 100px;
        }

        .loading img {
            padding: 1.5em;
        }

        .text-container {
            position: relative;
            min-height: 30px;

            @media screen and (max-width: 500px) {
                flex-grow: 5;
                order: 2;
            }

            p {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                padding: 0 10px;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                @media screen and (max-width: 500px) {
                    text-align: left;
                }
            }
        }

        .quantity-container {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: right;

            h3 {
                margin: 0 10px 3px 0;
                color: white;
                text-shadow: 1px 1px 2px #000000, 1px 1px 5px #000000;
            }
        }

        .material-icons.top-right {
            position: absolute;
            top: 1.5em;
            right: 0.25em;

            &.secondary-colour {
                color: $brand-secondary;
            }
        }
    }
}

.highlight-text {
    word-wrap: unset;
    span {
        word-wrap: break-word;
    }
}

.descrip-img {
    max-height: 1.5rem;
    padding: 0 0.25rem;
}
