$card-background-color-dark: rgba(255, 255, 255, 0.2);

#app.isDark {

    color: $body-color-dark;
    background-color: $brand-primary-background-dark;

    .main-panel {
        background-color: $brand-primary-background-dark;

        #navbar.navbar {
            background-color: $brand-primary-dark;
            color: white;
        }

        .content {
            background-color: $brand-primary-background-dark;
        }

        // .game-item {
        //     background-color: #131313;

        //     .text-container p {
        //         color: white;
        //     }
        // }

        .card,
        .catalogue-item {
            background-color: $card-background-color-dark;

            a,
            p,
            span {
                color: $body-color-dark;
            }
        }

        .generic-item-list .gen-item .gen-item-container {
            background-color: #6c757d;

            .gen-item-content-container .text-container {
                color: #f8f9fa;
            }

            .quantity-container {
                color: #f8f9fa;
            }
        }

        hr {
            background-color: $gray-600;
        }

        .chip {
            &.default {
                background-color: $gray-600;
                color: white;
            }
        }
    }

    .sidebar {
        background: $brand-primary-background-dark;

        a.nav-link {
            color: white;
        }

        li.active>a {
            background-color: $brand-primary-dark;
        }
    }

    #searchBar {

        input {
            color: $white-color;
            background-image: linear-gradient(to top, #{$brand-primary-dark} 2px, rgba(63, 81, 181, 0) 2px),
            linear-gradient(to top, #{$white-color} 1px, rgba(210, 210, 210, 0) 1px);
        }

        .icon-container i,
        .arrow-container i {
            color: $white-color;
        }
    }
}