.expedition-season-header {
    .row.full.glyphgrid {
        max-width: 850px;
        margin: 0 auto;
    }
}

.expedition-season-phase {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 1em;
    margin: 0.5em 0.5em 1.5em 0.5em;
    padding: 1em 0;

    h3.phase-title {
        margin-top: 0;
    }

    // .lazy-load-image-loaded>img.phase-icon {
    //     transition: all 250ms ease-in-out;

    //     &:hover {
    //         transform: scale(1.25);
    //     }
    // }

    .expedition-season-milestone {
        position: relative;
        width: 100%;
        border-top: 5px solid rgba(0, 0, 0, 0.1);

        // .lazy-load-image-loaded img {
        //     transition: all 250ms ease-in-out;
        // }

        // &:hover img {
        //     transform: scale(1.25);
        // }

        .milestone-content {
            position: relative;
            overflow: hidden;
            display: flex;
            width: 100%;
        }

        .milestone-encr-content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            opacity: 1;
            transition: opacity 250ms ease-in-out;
            display: flex;
            width: 100%;

            .text-container {
                overflow: hidden;

                &.full {
                    padding-top: 0;

                    h3 {
                        line-height: 75px;
                    }
                }
            }

            .highlight-text {
                .pb1 {
                    display: inline-block;
                }
            }
        }

        &.encrypted .milestone-content {
            filter: blur(20px);
            transition: filter 250ms ease-in-out;
        }

        &:hover.encrypted {
            .milestone-content {
                filter: unset;

                .encrypted-content {
                    opacity: 0;
                }
            }

            .milestone-encr-content {
                opacity: 0;
                pointer-events: none;
            }
        }

        .image-container {
            min-width: 100px;

            img {
                width: 100%;
                max-width: 100px;
            }
        }

        .text-container {
            flex-grow: 1;
            padding-left: 1em;
            text-align: left;

            h3 {
                margin-top: 15px;
            }

            &.rewards {
                display: flex;
                align-items: center;
                padding-right: 1em;
                max-width: 40%;
                text-align: right;
                padding-bottom: 0;

                .quantity-container {
                    width: 100%;
                }
            }
        }

        .rewards-container {
            display: flex;
            align-items: center;
            margin-left: 1em;
            margin-right: 2em;

            i {
                color: $brand-secondary;
            }
        }

        @media only screen and (min-width: 768px) {
            &:first-child {
                border-top: none;
            }
        }

        @media only screen and (max-width: 768px) {
            display: block;

            .text-container {
                text-align: center;

                &.rewards {
                    max-width: 100%;
                    text-align: center;
                    padding-bottom: 1em;
                }
            }

            .rewards-container {
                display: none;
            }
        }
    }
}

.milestone-reward-content {
    padding-top: 2em;

    img.milestone-patch {
        position: absolute;
        top: -1em;
        left: 0;
        max-width: 256px;
        transform: translateY(-50%);
    }

    .milestone-reward-title {
        position: absolute;
        top: -2.5em;
        left: 0;
        padding: 0.5em 0.5em 0.5em 275px;
        border-top-right-radius: 0.5em;
    }
}

#app .chip.exp-alpha {
    margin: 0 0 1em 0;

    .char {
        display: inline-block;
        width: 1em;
        height: 1em;

        &.exp-font {
            font-family: $expAlphaThemed;
        }
    }

    &:hover {
        .char {
            font-family: $expAlphaThemed;
        }
    }
}
