.fishing {

    .action-container {
        .action-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 0.6em;
    
            .dayNight {
                max-height: 50%;
            }
        }
    }
}