#app,
body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: $brand-primary-background;
}

#nav {
    padding: 30px;

    a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

#app .main-panel #navbar.navbar {
    max-height: 80px;

    .navbar-toggler .icon-bar {
        background-color: white;
    }

    li.nav-item {
        @media screen and (max-width: 800px) {
            margin-top: .5em;
        }
    }

    .navbar-collapse {
        @media screen and (max-width: 500px) {
            display: none !important;
        }
    }

    .navbar-wrapper {
        @media screen and (max-width: 500px) {
            max-width: unset;
        }
    }
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}

.material-icons.x2 {
    font-size: 36px;
}

.pointer {
    cursor: pointer;
}

.generic-item-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.extraMargin {
    margin: 10px 0;

    .card-header {
        font-size: 1rem;
    }

    .card-header-image {
        max-height: 50px;
    }
}

#navbar {
    border-radius: 0;
}

#app .main-panel {
    height: 100vh;
    // overflow-y: scroll;

    >.content {
        margin-top: 0;
        padding: 0 15px;

        &.no-spacing {
            margin: 0;
            padding: 0;
        }
    }
}

.ta-left {
    text-align: left;

    &.ta-center-sm {
        @media (max-width: 576px) {
            text-align: center;
        }
    }
}

.ta-center {
    text-align: center;
}

.mt-3em {
    margin-top: 3em;
}

// #app {
//     overflow-y: scroll;
// }

.row.justify {
    justify-content: center;
}

// body p {
//     font-size: 1.25em;
// }

.fab-margin {
    margin: .5em;
}

.row.full,
.container.full {
    max-width: unset;
}

.m-0-child {
    >* {
        margin: 0;
    }
}

.f-1 {
    font-size: 1em !important;
}

.p1 {
    padding: 1em;
}

.pt1 {
    padding-top: 1em;
}

.pb5 {
    padding-bottom: 5em;
}

.pr-6 {
    padding-right: 4rem !important;
}

.progress.custom {
    border-radius: 25px;
    height: 3em;
    text-align: center;

    .progress-bar {
        background-color: $brand-secondary !important;
    }

    .text {
        color: white;
        font-size: 2em;
        line-height: 1.5em;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.action-container i {
    cursor: pointer;
}

.store {
    padding-left: .5em;
    padding-right: .5em;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}