#app,
body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: #CFCFCF;
}

#nav {
    padding: 30px;

    a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

#app .main-panel #navbar.navbar {
    max-height: 80px;

    .navbar-toggler .icon-bar {
        background-color: white;
    }

    li.nav-item {
        @media screen and (max-width: 800px) {
            margin-top: .5em;
        }
    }

    .navbar-collapse {
        @media screen and (max-width: 500px) {
            display: none !important;
        }
    }

    .navbar-wrapper {
        @media screen and (max-width: 500px) {
            max-width: unset;
        }
    }
}

.pointer {
    cursor: pointer;
}

.generic-item-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.extraMargin {
    margin: 10px 0;

    .card-header {
        font-size: 1rem;
    }

    .card-header-image {
        max-height: 50px;
    }
}

#navbar {
    border-radius: 0;
}

#app .main-panel {
    height: 100vh;
    // overflow-y: scroll;

    >.content {
        margin-top: 0;
        padding: 0 15px;
    }
}

.ta-left {
    text-align: left;

    &.ta-center-sm {
        @media (max-width: 576px) {
            text-align: center;
        }
    }
}

.ta-center {
    text-align: center;
}

.mt-3em {
    margin-top: 3em;
}

// #app {
//     overflow-y: scroll;
// }

.row.justify {
    justify-content: center;
}

// body p {
//     font-size: 1.25em;
// }

.fab-margin {
    margin: .5em;
}

.row.full,
.container.full {
    max-width: unset;
}

.p1 {
    padding: 1em;
}

.pt1 {
    padding-top: 1em;
}

.pb5 {
    padding-bottom: 5em;
}

.progress.custom {
    border-radius: 25px;
    height: 3em;

    .progress-bar {
        background-color: $brand-secondary !important;

        .text {
            font-size: 2em;
        }
    }
}