$gen-item-radius: 0.25em;
$gen-item-extra-radius: 0.5em;

.generic-item-list {
    // justify-content: center;

    .gen-item {
        margin-bottom: 5px;

        .gen-item-container {
            display: flex;
            padding-right: 100px;
            width: 100%;
            border-radius: $gen-item-extra-radius $gen-item-radius $gen-item-radius $gen-item-extra-radius;

            &.w-full {
                padding-right: 0;
            }

            &.h-full {
                height: 100%;
            }

            &.qs-special {
                .text-container.full p {
                    margin: 0;
                    font-size: 20px;
                }
            }

            .smol-image-container {
                height: 100px;
                padding-left: 10px;

                .image-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 64px;
                        width: 64px;
                    }
                }
            }

            .image-container {
                height: 100px;
                min-width: 100px;
                display: inline-block;
                position: relative;
                border-top-left-radius: $gen-item-radius;
                border-bottom-left-radius: $gen-item-radius;

                &.lazy-loaded-full-width,
                &.lazy-load-image-background {
                    height: 100px;
                    min-width: 100px;

                    >span {
                        height: 100%;
                        width: 100%;
                        position: relative;

                        >img {
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                            margin: 0;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                        }
                    }
                }

                img {
                    max-height: 100px;
                    border-top-left-radius: $gen-item-radius;
                    border-bottom-left-radius: $gen-item-radius;
                }

                .badge-container {
                    position: absolute;
                    bottom: 0em;
                    right: -0.75em;
                    border-radius: 25px;
                    padding: 0 0.5em;

                    &.large {
                        padding: 0.15em 0.4em;
                    }

                    &.xlarge {
                        padding: 0.25em 0.2em;
                    }

                    &.xxlarge {
                        padding: 0 0.5em;
                        border-radius: 25px;
                        bottom: 0;
                        right: 0;
                    }
                }
            }

            .gen-item-content-container {
                flex-grow: 1;
                max-height: 100px;
                min-width: 100%;
                position: relative;
                overflow: hidden;

                .text-container {
                    font-size: 1.5em;
                    text-align: left;
                    padding-top: 0.6em;
                    padding-left: 1rem;
                    padding-right: 0.5rem;

                    &:not(.multiline) {
                        p {
                            line-height: 1.2em;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    &.full {
                        padding-top: 0;

                        p {
                            line-height: 100px;
                        }
                    }

                    &.small {
                        font-size: 1.2rem;
                    }
                }

                .quantity-container {
                    text-align: left;
                    padding-left: 1.05rem;
                    padding-right: 1rem;

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .action-container {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;

                    .action-list {
                        height: 100%;

                        &.align-top ul {
                            flex-direction: column;
                        }

                        &.align-bottom ul {
                            flex-direction: column-reverse;
                        }
                    }

                    ul {
                        position: relative;
                        height: 100%;
                        padding: 0;
                        margin: 0;

                        display: flex;
                        align-items: center;

                        // padding-left: 0;
                        // padding-right: 1em;
                        // margin-top: 1rem;

                        >* {
                            // margin-top: .25em;
                            margin-right: 0.5em;
                            display: block;
                            color: white;
                        }

                        >.not-centered {
                            margin-top: 50%;
                        }
                    }
                }
            }
        }
    }
}