.guide {
    .section {
        color: white;

        .item,
        .link,
        .heading {
            margin: 0 auto;
        }

        .item {
            padding-left: 0.5em;
            padding-right: 0.5em;

            p,
            .content {
                font-size: 1.2em;
                font-weight: 300;
            }

            .content {
                margin-top: 0.5em;
            }

            &.minHeight {
                // min-height: 45px;
                a {
                    display: inline-block;
                }
            }

            h3.metaData {
                display: inline-block;
                margin-top: -0.5em;
                padding: 1em;
            }
        }

        .link {
            padding: 0.5em;
            margin-bottom: 0.5em;
            color: $white-color;
            background-color: $gray-600;
            border-radius: 5px;
        }

        .image {
            margin-bottom: 1em;
            max-width: 100%;
        }
    }
}

.guide .section .heading,
.section .heading {
    padding: 0.5em;
    border-radius: 5px;
    margin: 0 auto 0.25em auto;
}
