.guide.item {
    @media screen and (min-width: 576px) {
        height: 90%;
    }

    .image-container>span {
        max-width: 100%;
        min-width: 50%;

        >img {
            width: 100%;
            border-top-left-radius: $border-radius-large;
            border-top-right-radius: $border-radius-large;
        }
    }

    .text-container.title {
        padding-top: .5em;
        padding-left: 1.5em;
        padding-right: 1.5em;

        p {
            font-size: 1.5em;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .chip {
        padding-left: .75em;
        padding-right: .75em;
        margin-left: .25em;
        margin-right: .25em;
        margin-bottom: 1em;
    }
}