#app {

    color: $body-color;
    background-color: $body-bg; // 2

    ::selection {
        background: $brand-secondary;
        color: white;
        /* WebKit/Blink Browsers */
    }

    ::-moz-selection {
        background: $brand-secondary;
        color: white;
        /* Gecko Browsers */
    }

    .main-panel {
        background-color: $brand-primary-background;

        #navbar.navbar {
            background-color: $brand-primary;
            color: white;
        }

        .content {
            background-color: $brand-primary-background;
        }

        .game-item {
            background-color: #ededed;

            .text-container p {
                color: $black-color;
            }
        }

        .catalogue-item {
            background-color: rgba(255, 255, 255, 0.6);

            a,
            p {
                color: $black-color;
            }
        }

        .generic-item-list .gen-item .gen-item-container {
            background-color: #ededed;

            .gen-item-content-container .text-container {
                color: $black-color;
            }

            .quantity-container {
                color: lighten($black-color, 20%);
            }

            .badge-container {
                color: $black-color;
                background-color: $brand-secondary;
            }
        }

        .chip {
            &.default {
                background-color: $brand-primary-background;
                color: black;
            }

            &.secondary {
                background-color: $brand-secondary;
                color: black;
            }
        }

        .table>thead>tr>th,
        .table>tbody>tr>td {
            border-color: black;
        }
    }

    .sidebar {
        background: white;
    }

    #searchBar {

        input {
            color: $black-color;
            background-image: linear-gradient(to top, #{$brand-primary} 2px, rgba(63, 81, 181, 0) 2px),
            linear-gradient(to top, #{$black-color} 1px, rgba(210, 210, 210, 0) 1px);

            $placeholderColor: $body-color;
            $placeholderFontSize: .75em;

            &::-webkit-input-placeholder {
                color: $placeholderColor;
                font-size: $placeholderFontSize;
            }

            &::-moz-placeholder {
                color: $placeholderColor;
                font-size: $placeholderFontSize;
            }

            &:-ms-input-placeholder {
                color: $placeholderColor;
                font-size: $placeholderFontSize;
            }

            &:-moz-placeholder {
                color: $placeholderColor;
                font-size: $placeholderFontSize;
            }
        }

        .icon-container i,
        .arrow-container i {
            color: $brand-primary;
        }
    }

    .fab-bg-color {
        background-color: $brand-primary;
    }

    .button-active-bg {
        background-color: $brand-secondary;
    }

    .action-container i {
        color: $black-color;
    }

    .card {
        .user-name {
            color: $black-color;
        }
    }
}