#app {

    color: $body-color;
    background-color: $body-bg; // 2

    .main-panel {
        #navbar.navbar {
            background-color: $brand-primary;
            color: white;
        }

        .content {
            background-color: $brand-primary-background;
        }

        .game-item {
            background-color: #ededed;

            .text-container p {
                color: black;
            }
        }

        .catalogue-item {
            background-color: rgba(255, 255, 255, 0.6);

            a,
            p {
                color: black;
            }
        }
    }

    .sidebar {
        background: white;
    }

    #searchBar {

        input {
            color: $black-color;
            background-image: linear-gradient(to top, #{$brand-primary} 2px, rgba(63, 81, 181, 0) 2px),
            linear-gradient(to top, #{$black-color} 1px, rgba(210, 210, 210, 0) 1px);
        }

        .arrow-container i {
            color: $black-color;
        }
    }
}