.network-container {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 10;

    .alert {
        margin-bottom: 0;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;

        &.alert-error {
            background-color: #7c1818;
        }
    }
}
