.radio-link {
    position: relative;

    a {
        color: white;
        width: 100%;

        &:hover {
            color: #80cbc4;
        }
    }

    i {
        position: absolute;
        top: 1em;
        right: 1em;
    }
}

.view-queue {
    position: absolute;
    top: 0;
    right: 0.5rem;

    .action-icon {
        display: block;
        font-size: 3em;
    }
}