.portal.item {
    padding-bottom: 1em;

    &.card {
        margin-top: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    .glyphgrid {
        > div {
            padding: 0;
        }

        img {
            max-width: 100%;
        }
    }

    .text-container.title p {
        font-size: 1.5em;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .action-container {
        position: absolute;
        bottom: 0.5em;
        right: 0.5em;

        @media (max-width: 400px) {
            position: relative;
            bottom: unset;
            right: unset;
        }

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;

            > * {
                margin-top: 0.25em;
                margin-right: 0.5em;
                display: block;
                color: white;
            }

            @media (max-width: 400px) {
                display: block;
                flex-direction: unset;
                margin-top: 1em;

                > * {
                    display: inline;
                }
            }
        }
    }

    .chip {
        padding: 0.5em 1em;
    }
}

@keyframes wheel-scroll {
    0% {
        top: 100%;
    }

    100% {
        top: -1100%;
    }
}

.slots {
    max-width: 1000px !important;
    margin: 1em auto;

    .generic-item-list {
        margin: auto;
    }
}

.portal-slot {
    margin-bottom: 1em;
}

.portal-slot-wheel {
    position: relative;

    .wheel-content {
        position: relative;
        overflow: hidden;

        .portal-slot-item-placeholder {
            max-width: 100%;
            aspect-ratio: 0.75;
        }

        img {
            width: 100%;
        }

        .disc {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0.125em;

            // transform: rotate3d(1, 0, 0, -330deg);
            transition: all 2s cubic-bezier(0.55, -0.4, 0.42, 1.55);

            .portal-slot-item:first-child {
                margin-top: 0;
            }

            .portal-slot-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 1em;
                width: 100%;
                aspect-ratio: 0.75;
                margin: 0.75em 0;
            }
        }
    }
}
