.ribbon {
    /* Position */
    position: absolute;
    top: 18px;
    right: -74px;

    /* Size */
    height: 24px;
    width: 206px;

    /* Displayed diagonally */
    transform: rotate(45deg);

    /* Background color */
    background-color: rgba(0, 0, 0, 0.3);

    /* Centerize the text content */
    text-align: center;
}