.segmented-control {
    color: $brand-secondary;
    transition-duration: unset;

    label {
        color: $brand-secondary;
        border: 1px solid currentColor;
        border-top-width: 0px;
        border-bottom-width: 0px;
        font-size: 1.25em;
        margin: 0;
        padding: 0;
    }
}