.ReactModal__Content {
    .input-url {
        width: 80vw;

        @media only screen and (min-width: 991px) {
            width: 40vw;
        }
    }
}

.share-button {
    border-radius: 8px;
    color: #fff;
    display: block;
    font-size: 24px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    text-decoration: none;
    transition: all 200ms;

    &:hover,
    &:hover i,
    &:focus,
    &:focus i {
        color: white;
    }
}

.share-button:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.btn-share {
    display: inline-block;
    position: relative;
    width: 100%;

    li {
        display: inline-block;
        margin: 0 8px;
    }

    .form-control {
        color: #fff;
        font-size: 1.25em;
        text-align: center;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 10px;
        text-align: center;
    }
}

.share {
    background: #333;
    box-shadow: 0 4px 0 #222;
}

.twitter {
    background: #00acee;
    box-shadow: 0 4px 0 #0080b1;
}

.facebook {
    background: #3B5998;
    box-shadow: 0 4px 0 #2d4370;
}

.whatsapp {
    background: #25D366;
    box-shadow: 0 4px 0 #128C7E;
}