.sidebar-wrapper::-webkit-scrollbar {
    width: 5px;
    background-color: $brand-primary-background;
}

.main-panel > #sidebar-main-content-overlay {
    display: none;
}

.nav-open .main-panel > #sidebar-main-content-overlay {
    @media (max-width: 991px) {
        display: block;
    }
}

.action-icon,
.nav .nav-item .material-icons {
    color: $brand-secondary;
}

.nav .nav-item.active > .nav-link .material-icons {
    color: $brand-secondary;
}

.sidebar {
    overflow: hidden;
    .nav {
        p {
            // white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 1em;
        }

        &.sub {
            padding-left: 1.25em;
            height: 0;
            overflow: hidden;
            transition: height 150ms ease-in-out;

            &.expanded {
                height: unset;
            }
        }

        i,
        .custom-icons {
            font-size: 31px;
            float: left;
            margin-right: 15px;
            line-height: 30px;
            width: 30px;
            text-align: center;
            color: #a9afbb;
        }

        li.nav-item {
            position: relative;
            overflow: hidden;

            &.separator {
                overflow: unset;
            }
        }

        .material-icons.align-right {
            position: absolute;
            top: 10px;
            right: 4%;
            transition: transform 250ms ease-in-out;

            &.rotate180 {
                transform: rotate(180deg);
            }
        }
    }
}
