.card.extraMargin {
    margin: 10px 0;

    .card-header {
        font-size: 1rem;
        display: flex;
        flex-direction: row;

        &.center {
            justify-content: center;
        }
    }

    .card-social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0.5em;
    }

    .card-header-image {
        max-height: 50px;
    }
}