$card-background-color-dark: rgba(255, 255, 255, 0.2);
$list-item-background-color-dark: #6c757d;
$list-item-text-color-dark: #f8f9fa;
$list-item-text-color-darker: #c5c5c5;

#app,
body {
    color: $list-item-text-color-darker;
    background-color: $brand-primary-background;

    ::selection {
        background: $brand-secondary;
        color: white;
        /* WebKit/Blink Browsers */
    }

    ::-moz-selection {
        background: $brand-secondary;
        color: white;
        /* Gecko Browsers */
    }

    .main-panel {
        background-color: $brand-primary-background;

        #navbar.navbar,
        .navbar-brand {
            background-color: $brand-primary;
            color: white;
        }

        .content {
            background-color: $brand-primary-background;
        }

        .game-item {
            background-color: $list-item-background-color-dark;

            .text-container p {
                color: $list-item-text-color-dark;
            }
        }

        .consumable-rewards {
            background-color: darken($list-item-background-color-dark, 17%);
        }

        .card,
        .catalogue-item {
            background-color: $card-background-color-dark;

            .dropdown-menu .dropdown-item {
                &:hover {
                    color: white;
                }
            }

            a,
            p,
            span {
                color: $body-color-dark;
            }
        }

        .form-check .form-check-label.custom {
            p {
                margin: 0;
                padding: 0;
                display: inline-block;
            }
        }

        hr {
            background-color: $gray-600;
        }

        .chip {
            &.default {
                background-color: $brand-primary-background;
                color: white;
            }

            &.white {
                background-color: white;
                color: $brand-primary-background;
            }

            &.secondary {
                background-color: $brand-secondary;
                color: black;
            }
        }

        .table {
            margin-top: 1em;
        }

        .table>thead>tr>th,
        .table>tbody>tr>td {
            border-color: white;
        }
    }

    .generic-item-list .gen-item .gen-item-container {
        background-color: $list-item-background-color-dark;

        .gen-item-content-container .text-container {
            color: $list-item-text-color-dark;
        }

        .quantity-container {
            color: darken($list-item-text-color-dark, 20%);

            .item-name {
                color: $brand-secondary;
            }
        }

        .badge-container {
            color: black;
            background-color: $brand-secondary;
        }
    }

    .sidebar {
        background: $brand-primary-background;

        a.nav-link {
            color: white;
        }

        li.active>a {
            background-color: $brand-primary;
        }
    }

    #searchBar {
        input {
            color: $white-color;
            background-image: linear-gradient(to top, #{$brand-primary} 2px, rgba(63, 81, 181, 0) 2px),
            linear-gradient(to top, #{$white-color} 1px, rgba(210, 210, 210, 0) 1px);

            $placeholderColor: rgba(255, 255, 255, 0.9);
            $placeholderFontSize: 0.75em;

            &::-webkit-input-placeholder {
                color: $placeholderColor;
                font-size: $placeholderFontSize;
            }

            &::-moz-placeholder {
                color: $placeholderColor;
                font-size: $placeholderFontSize;
            }

            &:-ms-input-placeholder {
                color: $placeholderColor;
                font-size: $placeholderFontSize;
            }

            &:-moz-placeholder {
                color: $placeholderColor;
                font-size: $placeholderFontSize;
            }
        }
    }

    .icon-container i,
    .arrow-container i {
        color: $white-color;
    }

    .fab-bg-color {
        background-color: $brand-primary;
    }

    .navbar-nav .fab-bg-color,
    .fab-container .fab-bg-color {
        background-color: $brand-secondary;
    }

    .button-active-bg {
        background-color: $brand-secondary;
    }

    .action-container i {
        color: $white-color;
    }

    .segmented-control {
        color: $brand-secondary;

        label {
            color: $brand-secondary;
        }
    }

    .progress.custom {
        border: 1px solid white;
        background-color: #333;

        .progress-bar {
            background-color: $brand-secondary !important;
        }
    }

    .item-name,
    .secondary-highlight {
        color: $brand-secondary !important;
    }

    .guide .section .heading {
        background-color: $brand-secondary;
    }

    .card {
        .user-name {
            color: white;
        }

        .user-details .external-link i {
            color: $brand-secondary;
        }
    }

    .customButton {
        background-color: $brand-secondary;
        color: black;

        &.disabled {
            opacity: 0.3;
            text-decoration: line-through;
        }
    }

    .discussion {
        >.bubble.sender {
            background-color: #606060;
            color: #fff;

            &:before {
                border-color: #606060 transparent transparent transparent !important;
            }
        }

        >.bubble.recipient {
            background-color: $brand-primary;

            &:before {
                border-color: $brand-primary transparent transparent transparent !important;
            }
        }

        >.bubble.option {
            background-color: $brand-secondary;
            color: black;
        }
    }

    .form-check .form-check-label.custom {
        color: $body-color;

        &.dark {
            color: #606060;
        }
    }
}

.react-modal-sheet-container {
    background-color: $brand-primary-background !important;
}

.react-modal-sheet-content {
    padding-bottom: 3em;
    user-select: auto !important;

    a {
        color: $brand-secondary;
    }
}