.generic-item-list .gen-item .gen-item-container.title-item {
    .image-container img,
    .image-container span {
        height: 100%;
    }
    .gen-item-content-container {
        .text-container {
            font-size: 1.35em;
            padding-top: 0.8em;
        }
    }
}
