$defaultFont: "Roboto",
Helvetica,
Arial,
sans-serif !important;
$nmsAlphaThemed: "NMSFuturaProBook",
Helvetica,
sans-serif !important;
$expAlphaThemed: "NMSExpeditionAlphabet",
Helvetica,
sans-serif !important;

@import "./custom/genericListPresenter";
@import "./custom/guideCardListTile";
@import "./custom/segmentedControl";
@import "./custom/nmsfmPresenter";
@import "./custom/weekendMissionMenu";
@import "./custom/community";
@import "./custom/timeline";
@import "./custom/tree";
@import "./custom/chip";
@import "./custom/guide";
@import "./custom/portal";
@import "./custom/alert";
@import "./custom/social";
@import "./custom/expedition";
@import "./custom/starship";
@import "./custom/ribbon";
@import "./custom/general";
@import "./custom/scrollbar";
@import "./custom/sidebar";
@import "./custom/searchBar";
@import "./custom/shareButton";
@import "./custom/mobile";
@import "./custom/title";
@import "./custom/fab";
@import "./custom/sweetalertDark";

@import "./custom/catalogue";

@import "./custom/theme";